<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>  
  <div class="container">
    <div class="row">
      <div class="col-sm-6" >
        <span class="fa fa-male" style="font-size:48px"></span>
        <br />
        <span id="malePercent" [ngStyle]="{'color':  malePercentColor, 'font-size': '48px'}">{{malePercent}}%</span>
        <br />
        <button type="button" (click)="maleUpvote()" class="btn btn-success" >
            <span class="glyphicon glyphicon-ok"></span>
              Male      
          </button>
          <br />
          <span style="font-size:10px">({{maleVoteCount}} votes)</span>
      </div>
      <div class="col-sm-6" >
        <span class="fa fa-female" style="font-size:48px"></span>
        <br />
        <span id="femalePercent" [ngStyle]="{'color':  femalePercentColor, 'font-size': '48px'}" >{{femalePercent}}%</span>
        <br />
        <button type="button" (click)="femaleUpvote()" class="btn btn-success" >
            <span class="glyphicon glyphicon-ok"></span>
            Female
          </button>
          <br />
          <span style="font-size:10px">({{femaleVoteCount}} votes)</span>
      </div>
    </div>  
  </div>
</div>
